<div class="row justify-content-center">

    <div class="btn-group btn-group-horizontal" style="margin-top: 2vh;">
        <a href="{% url 'profile_settings' %}"><button class="btn" id='account'>Account</button></a>
        <a href="{% url 'security_settings' %}"><button class="btn" id="security">Security</button></a>
        <a href="#"><button class="btn" id='preferances'>Preferances</button></a>
        <a href="#"><button class="btn" id='notifications'>Notifications</button></a>

    </div>

</div>

<style>
    .btn{
        padding-left: 2vw;
        padding-right: 2vw;
    }
</style>

