{% extends "base.html" %}
{% load static %}
{% load discussions_tags%}


{% block content %}

<link rel="stylesheet" href="{% static 'detail.css' %}">

<!--<h1>I hope this works!</h1>-->

<div class="row">
    <div class="col-10">
    <h1>Discussion Board</h1>
    </div>

    <div class="col-2 justify-content-end">
        <a href="{% url 'create_question' %}">Start Discussion</a>
    </div>
</div>

<div>
    <form method="GET" action="">
        <input type="submit" name="filter" value="newest">
        <input type="submit" name="filter" value="top">
        <input type="submit" name="filter" value="random">

    </form>
</div>



{% for question in questions %}
<script>console.log('{{question.date_posted | past_time }}')</script>

<article class="media content-section" style="min-height: 20vh;">

      <div class="media-body">
        <div class="article-metadata">
            <div class="row">
                <a class="col-6" href="{% url 'view_profile' question.author.profile.slug %}">{{ question.author }}</a>
                <small class="text-muted col-6" style="text-align: right;">{{ question.date_posted }}</small>
            </div>
        </div>

        <h2><a class="article-title" href="{% url 'view_question' question.slug %}">{{ question.title }}</a></h2>
        <p class="article-content">{{ question.content }}</p>

        <h3>{{ question.responses.all | length }} response{{ question.responses.all | length |pluralize}}</h3>

        <div class="row justify-content-end">
            <small class="text-muted col-6" style="text-align: right;">{{ question.date_posted | past_time }}</small>
        </div>

        </div>

        <button onclick="upvoteClick('{{ question.slug }}', this)" class ='upvote'>Upvote!</button>
        <button onclick="downvoteClick('{{ question.slug }}', this)" class ="downvote">Downvote!</button>

    </article>

{%  endfor %}




<script>

    function upvoteClick(slug, object){

        var $upvote = $(object)
        var $downvote = $upvote.parent().find('.downvote')

        console.log(slug)
        $.ajax({
            url: 'http://localhost:8000/discussions/' + slug + '/upvote/',
            success: function(data){
                if (data.success){
                    console.log(data.code)

                    if (data.code == 'ADDED_UPVOTE'){
                        $downvote.css("background-color", 'initial')
                        $upvote.css("background-color", 'blue')

                    }else if(data.code == 'DOWNVOTE_TO_UPVOTE'){
                        $downvote.css("background-color", 'initial')
                        $upvote.css("background-color", 'blue') 

                    }else if(data.code == 'REMOVED_UPVOTE'){
                        $downvote.css("background-color", 'initial')
                        $upvote.css("background-color", 'initial') 
                    }


                    console.log($upvote)
                    console.log($downvote)

                }else{
                    console.log("Failed!")
                }
            },
            error: function(){
                console.log("ajax failure")
            }
        });
    }


    function downvoteClick(slug, object){

        var $downvote = $(object)
        var $upvote = $downvote.parent().find('.upvote')

        $.ajax({
            url: 'http://localhost:8000/discussions/' + slug + '/downvote/',
            success: function(data){

                if (data.success){
                    console.log(data.code)

                    if (data.code == 'ADDED_DOWNVOTE'){
                        $downvote.css("background-color", 'blue')
                        $upvote.css("background-color", 'initial')

                    }else if(data.code == 'UPVOTE_TO_DOWNVOTE'){
                        $downvote.css("background-color", 'blue')
                        $upvote.css("background-color", 'initial') 

                    }else if(data.code == 'REMOVED_DOWNVOTE'){
                        $downvote.css("background-color", 'initial')
                        $upvote.css("background-color", 'initial') 
                    }



                }else{
                    console.log("Failed!")
                }
            },
            error: function(){
                console.log("ajax failure")
            }
        });
    }

</script>


{% endblock content %}