{% extends "base.html" %}
{% load static %}
{% load discussions_tags%}


{% block content %}

<link rel="stylesheet" href="{% static 'detail.css' %}">

<!--<h1>I hope this works!</h1>-->

<div class="row">
    <div class="col-10">
    <h1>Discussions</h1>
    </div>

    <div class="col-2 justify-content-end">
        <a href="{% url 'create_question' %}"><button class="btn">Start Discussion</button></a>
    </div>
</div>

<div>
    <form method="GET" action="">
        <input type="submit" name="filter" value="newest">
        <input type="submit" name="filter" value="top">
        <input type="submit" name="filter" value="random">
        <input type="submit" name="filter" value="votes">

    </form>
</div>



{% for questionn in questions %}


    {% include 'snippets/question_display.html' with question=questionn %}



{%  endfor %}




<script>

    function upvoteClick(slug, object){

        var $upvote = $(object)
        var $downvote = $upvote.parent().find('.downvote')

        var $counter = $upvote.parent().parent().parent().parent().find('.vote-counter')

        console.log(slug)
        $.ajax({
            url: window.location.origin + '/discussions/' + slug + '/upvote/',
            success: function(data){
                if (data.success){
                    console.log(data.code)
                    console.log(data)


                    if (data.code == 'ADDED_UPVOTE'){
                        $downvote.css("background-color", 'initial')
                        $upvote.css("background-color", 'blue')

                        //$counter.text(parseInt($counter.text() + 1))
                        $counter.text(data.upvotes)

                    }else if(data.code == 'DOWNVOTE_TO_UPVOTE'){
                        $downvote.css("background-color", 'initial')
                        $upvote.css("background-color", 'blue') 

                        //$counter.text(parseInt($counter.text() + 1))
                        $counter.text(data.upvotes)


                    }else if(data.code == 'REMOVED_UPVOTE'){
                        $downvote.css("background-color", 'initial')
                        $upvote.css("background-color", 'initial') 

                        //$counter.text(parseInt($counter.text() - 1))
                        $counter.text(data.upvotes)

                    }


                    console.log($upvote)
                    console.log($downvote)

                }else{
                    console.log("Authentication Required!")
                    window.location.href = "{% url 'login' %}?next={% url 'discussion_board' %}"
                }
            },
            error: function(){
                console.log("ajax failure")
            }
        });
    }


    function downvoteClick(slug, object){

        var $downvote = $(object)
        var $upvote = $downvote.parent().find('.upvote')

        $.ajax({
            url: window.location.origin + '/discussions/' + slug + '/downvote/',
            success: function(data){

                if (data.success){
                    console.log(data.code)
                    console.log(window.location.origin)

                    if (data.code == 'ADDED_DOWNVOTE'){
                        $downvote.css("background-color", 'blue')
                        $upvote.css("background-color", 'initial')

                    }else if(data.code == 'UPVOTE_TO_DOWNVOTE'){
                        $downvote.css("background-color", 'blue')
                        $upvote.css("background-color", 'initial') 

                    }else if(data.code == 'REMOVED_DOWNVOTE'){
                        $downvote.css("background-color", 'initial')
                        $upvote.css("background-color", 'initial') 
                    }



                }else{
                    console.log("Authentication Required!")
                    window.location.href = "{% url 'login' %}?next={% url 'discussion_board' %}"
                }
            },
            error: function(){
                console.log("ajax failure")
            }
        });
    }

</script>


{% endblock content %}