{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
<script src="https://cdn.ckeditor.com/ckeditor5/19.1.1/classic/ckeditor.js"></script>



<h1>Create Question!</h1>

<div class="content-section">


    <div class="row">
        <div class="col-2"></div>
        
        <div class="col-10">
            <form method="POST" enctype="multipart/form-data">
                {{ form.media }}
                {{ form | crispy}}
                {% csrf_token %}
    
    
                <p><input type="submit"  value="Save!"></p>
            </form>
        </div>
    </div>

        <style>

            #id_title{
              width: 30vw;
            }
            
            #id_content{
              width: 30vw;
            }
            
            
            </style>


</div>

{% endblock content %}