{% load static %}
{% load discussions_tags%}

<html>
    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'main.css' %}">
        <link rel="stylesheet" href="{% static 'icon.css' %}">


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>



        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title>Society of Coders</title>
        {% endif %}

    </head>

    <body>
        <header class="site-header">
            <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
              <div class="container">
                <a class="navbar-brand mr-4" href="/">Society of Coders</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                  <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="#">Courses</a>
                    <a class="nav-item nav-link" href="#">Explore</a>
                    <a class="nav-item nav-link" href="{% url 'discussion_board'%}">Discussions</a>
                  </div>

                  <form class="form-inline my-2 my-lg-0" style="margin-right: 1vw;" method="GET" action="/search/">
                    <input class="form-control mr-sm-2 searchbar" type="text" autocomplete="off" placeholder="Search" name="search" aria-label="Search" style="border-radius: 50px;">
                  </form>
                  
                  <!-- Navbar Right Side -->
                  <div class="navbar-nav">

                    {% if request.user.is_authenticated %}

                    <img class="rounded-circle article-img" src="{{ user.profile.photo.url }}" style="height: 3rem; width: 3rem;">


                    <div>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ request.user.username }}
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'view_profile' user.profile.slug %}">Profile</a>
                        <a class="dropdown-item" href="{% url 'create_post' %}">Create Post</a>
                        <a class="dropdown-item" href="{% url 'saved_drafts' %}">Saved Drafts</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'profile_settings' %}">Settings</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                      </div>
                    </li>
                  </div>

                  <!--<script>console.log(' {{ request.user.profile.notifications | in_queue }}')</script>-->

                  {% if request.user.profile.notifications|in_queue %}
                  <a href="{% url 'my_notifications' %}" class="nav-item nav-link" style="font-family: alarm;">&#xe800;<sub style="font-size: 3rem; font-weight: bolder; color: red;">.</sub></a>
                  {% else %}
                  <a href="{% url 'my_notifications' %}" class="nav-item nav-link" style="font-family: alarm;">&#xe800;</a>
                  {% endif %}


                    {% else %}
                    <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                    <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                    {% endif %}


                  </div>
                </div>
              </div>
            </nav>
          </header>

          <main role="main" class="container">
            <div class="row">
              <div class="col-md-12">

                {% if messages %}
                  {% for message in messages%}
                    <div class="alert alert-{{ message.tags }}">
                      {{ message }}
                    </div>
                  {% endfor %}
                {% endif %}


                {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
                {% endif %}
                
                <div style="min-height: 100vh;">
                {% block content %}{% endblock %}
              </div>
              </div>


            </div>
          </main>


  <link rel="stylesheet" href="{% static 'footer.css' %}">
  <div class="footer" style="margin-top: 3vh;">
  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">We are a student-led social platform for creating a community of free, open-source, and readily available knowledge.
          </p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Categories</h6>
          <ul class="footer-links">
            <li>Courses</li>
            <li>Games</li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li>About Us</li>
            <li>Contact Us</li>
            <li>Mission Statement</li>
            <li>Donate</li>

          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2020 Society of Coders 
          </p>
        </div>

      </div>
    </div>
</footer>

  </div>


        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>


</html>