{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
<script src="https://cdn.ckeditor.com/4.14.0/standard-all/ckeditor.js"></script>



<h1>Create Post!</h1>

<div class="content-section">


        <form method="POST" enctype="multipart/form-data">

            {{ form | crispy}}
            {% csrf_token %}


            <p><input type="submit" value="Create!"></p>
        </form>

        <script>
            CKEDITOR.replace( 'content' , {

                filebrowserBrowseUrl: '/apps/ckfinder/3.4.5/ckfinder.html',
                filebrowserImageBrowseUrl: '/apps/ckfinder/3.4.5/ckfinder.html?type=Images',
            });

        </script>


</div>

{% endblock content %}