{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}

<link rel="stylesheet" href="{% static 'styles/post/post.css' %}">


<h1>Edit Post!</h1>

<div class="content-section">


        <form method="POST" enctype="multipart/form-data">
            {{ form | crispy}}
            {% csrf_token %}


            <p><input type="submit" onclick= 'allowReload()' value="Save!"></p>
        </form>

        {{ form.media }}


        <script>


                        window.onbeforeunload = function() {
                            return "";
                        }

                        function allowReload(){
                            window.onbeforeunload = null
                        }
        </script>


</div>

{% endblock content %}