{% extends "base.html" %}

{% block content %}

<!--<h1>I hope this works!</h1>-->

<article class="media content-section">

    <img class="rounded-circle article-img" src="">

      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="">author</a>
          <small class="text-muted">Date Posted</small>
        </div>
        <h2><a class="article-title" href="">This is a sample Title</a></h2>
        <p class="article-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque 
            penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat mass
            a quis enim. Donec.</p>
      </div>
    </article>

{% endblock content %}