{% extends "base.html" %}
{% load static %}


{% block content %}

<link rel="stylesheet" href="{% static 'detail.css' %}">

<!--<h1>I hope this works!</h1>-->



{% for post in posts%}

    {% include 'snippets/post_display.html' with this_post=post%}

{% endfor %}


<script>

    let $content = $(".media-body")

    $content.click(function() {
        //console.log($(this).find('.article-title').attr('href'))
        window.location.href = $(this).find('.article-title').attr('href')
    })

</script>

{% endblock content %}