{% extends "base.html" %}
{% load static %}


{% block content %}

<link rel="stylesheet" href="{% static 'detail.css' %}">

<!--<h1>I hope this works!</h1>-->

{% if posts|length > 0 %}
<h1>Posts for "{{ c_tag }}" ({{ posts|length }})</h1>
{% else %}
<h1>Sorry there are no posts with that tag</h1>
<h2 style="margin-top: 3vh;">Why not <a href="{% url 'create_post' %}">Make one</a>...</h2>
{% endif %}

{% for post in posts%}

<article class="media content-section" style="margin-top: 3vh;">

    <img class="rounded-circle article-img" src="{{ post.author.profile.photo.url }}">

      <div class="media-body">
        <div class="article-metadata">
            <div class="row">
                <a class="col-6" href="{% url 'view_profile' post.author.profile.slug %}">{{ post.author }}</a>
                <small class="text-muted col-6" style="text-align: right;">{{ post.date_posted }}</small>
            </div>
        </div>

        <h2><a class="article-title" href="{% url 'post_detail' post.author post.slug %}">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.summary }}</p>

            <div class="article-fdata">

                {% for tag in post.tags.all %}

                <div class="float-right">
                    <a href="{% url 'view_by_tag' tag.slug %}">
                        <button class="tag-elmt" style="background-color: rgba(0, 255, 255, 0.5);">{{ tag }}</button>
                    </a>
                </div>

                {% endfor %}
                

            </div>

      </div>
    </article>

    {% endfor %}

{% endblock content %}