{% extends "base.html" %}
{% load static %}


{% block content %}

<link rel="stylesheet" href="{% static 'detail.css' %}">

<div>
{% if questions|length > 0 %}
<h1>Discussions for "{{ search_term }}" ({{ questions|length }})</h1>
{% else %}
<h1>Sorry there are no Discussions that contain "{{ search_term }}"</h1>
<h2 style="margin-top: 3vh;">Why not <a href="{% url 'create_question' %}">Ask</a> the Community</h2>
{% endif %}

<div class="row" style="margin-bottom: 3vh;">
    <div class="col-10">
        <a href="/search/?search={{search_term}}&filter=Posts"><button>Articles</button></a>
        <a href="/search/?search={{search_term}}&filter=Questions"><button style="border-bottom: 2px solid red;">Discussions</button></a>
        <a href="/tags/{{search_term | lower }}/"><button>Tags</button></a>
    </div>
</div>


{% for question in questions %}

<article class="media content-section" style="min-height: 20vh;">

      <div class="media-body">
        <div class="article-metadata">
            <div class="row">
                <a class="col-6" href="{% url 'view_profile' question.author.profile.slug %}">{{ question.author }}</a>
                <small class="text-muted col-6" style="text-align: right;">{{ question.date_posted }}</small>
            </div>
        </div>

        <h2><a class="article-title" href="{% url 'view_question' question.slug %}">{{ question.title }}</a></h2>
        <p class="article-content">{{ question.content }}</p>

        <h3>{{ question.responses.all | length }} response{{ question.responses.all | length |pluralize}}</h3>



        </div>

    </article>

{%  endfor %}

</div>

{% endblock content %}