{% extends "base.html" %}
{% load static %}


{% block content %}

<link rel="stylesheet" href="{% static 'detail.css' %}">

{% if posts|length > 0 %}
<h1>Posts for "{{ search_term }}" ({{ posts|length }})</h1>
{% else %}
<h1>Sorry there are no posts that contain "{{ search_term }}"</h1>
<h2 style="margin-top: 3vh;">Why not <a href="{% url 'create_post' %}">Make one</a>...</h2>
{% endif %}

{% for post in posts%}

    {% include 'snippets/post_display.html' with this_post=post%}

{% endfor %}

{% endblock content %}