{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}

    <h1>Login!</h1>

    <div class="content-section">

        <div class="login-form" >

            <form method="POST">

                {{ form | crispy }}
                {% csrf_token %}

                <input type="hidden" name="next" value="{{ next }}">
                <p><input type="submit" value="Log In!"></p>
                <small><a href="{% url 'register'%}">Need an account? </a></small>
            </form>

        </div>

    </div>


{% endblock content %}