{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}



{% block content %}


    <h1>Change your password</h1>
    

    <div class="content-section" style="height: 90vh; margin-top: 5vh;">

    
            {% include 'snippets/settings_menu.html'%}
            <style>
                #security{
                    filter: brightness(70%);
                    border-top: 2px solid red;
                }
            </style>


            <div class="row" style="margin-top: 5vh;">

            <div class="col-2"></div>

            <div class="col-8">

            <form method="POST">
                {{ form | crispy}}
                {% csrf_token %}
                <p><br><input type="submit" value="submit"></p>
            </form>

            </div>

            <div class="col-2"></div>

        </div>


</div>
    

{% endblock content %}